* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.txt-white {
    color: white;
}

.flex {
    display: flex;
}

.j-end {
    justify-content: flex-end;
}

.j-cntr {
    justify-content: center;
}

.ai-end {
    align-items: flex-end;
}

.wrap {
    flex-wrap: wrap;
}

/* Header */

header {
    height: 60px;
    background-color: black;
}

.header-tools {
    text-decoration: none;
    padding: 5px 5px;
    background-color: #4a4a4a;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
}

/* Main */

.main-content {
    height: calc(100vh - 160px);
    overflow: auto;
    background-color: black;
}

.main-content .container .cella{
    height: 146px;
    width: 247px;
    margin: 4px;
    background-image: url(https://picsum.photos/246/146);
    background-position: center;
    background-size: cover;
}

.user-info {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

/* footer */

footer {
    height: 100px;
    background-color: black;
}